.blinking{
    animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
    0%{     color: #F00;    }
    25%{    color: transparent; }
    50%{     color: #F00;    }
    75%{    color: transparent; }
    100%{   color: #F00;    }
}